/*###########################
LOGIN
###########################*/
body {
	background: #f0f0f0;
	font-family: 'PT Sans',Verdana, Tahoma, Arial;
	font-size: 12px !important;
}

#wrapper {
	height: 243px;
	width: 355px;
	
	position:absolute;
	top: 40%;
	left: 50%;
	margin-top: -121.5px;
	margin-left: -177.5px;
	
	padding: 25px;
	
	font-size: 11px;
	
	background: url("../images/bg_login.png");
}


#header {	
	height: 40px;

	background: url("../images/logo_light.png");
	background-repeat: no-repeat;
	
	padding-bottom: 10px;
	
	border-bottom: 1px solid #e6e5e5;
}

form {

}

input[type=text], input[type=password] {
	height: 37px;
	width: 334px;
	
	margin-bottom: 10px;
	
	padding: 0px 10px 0px 10px;
	
	background: #eeeded url("../images/bg_input_field.png");
	
	border: 0px;
}

input[type=submit] {
	height: 35px;
	width: 89px;
	
	float: right;
	
	text-indent: -9999px;
	
	
	
	border: 0px;
	
	cursor: pointer;
}

input[type=submit].da {
    background: url("../images/btn_login.png");
}

input[type=submit].en {
    background: url("../images/btn_login_en.png");
}

input[type=submit]:hover {
	background-position: -89px 0px;
}

input[name=vubla_reset] {
	height: 35px;
	width: 89px;
	
	float: right;
	
	text-indent: -9999px;
	
	
	
	border: 0px;
	
	cursor: pointer;
}

input[name=vubla_reset].da {
    background: url("../images/btn_nulstil.png");
}

input[name=vubla_reset].en {
    background: url("../images/btn_nulstil_en.png");
}

input[name=vubla_reset]:hover {
	background-position: -89px 0px;
}

#messages {
	color: #e47f00;
}

/*###########################
BUTTONS
###########################*/
.resend { height: 35px; width: 89px; float: left !important; text-indent: -9999px; cursor: pointer; border: 0px; }
.resend { margin-top: 10px; }
.resend.da { background: url("../images/btn_gensend.png") !important; }
.resend.en { background: url("../images/btn_gensend_en.png") !important; }
.resend:hover { background-position: -89px 0px; }